backend/node_modules/
frontend/node_modules/
backend/dist/
frontend/.next/
frontend/out/
frontend/build/
backend/.env
frontend/.env*.local
*.log
npm-debug.log*
.DS_Store
Thumbs.db
.idea/
.vscode/
backend/uploads/*
!backend/uploads/.gitkeep
/src/generated/prisma
/docs/.obsidian
backend/prisma/(old) schema.prisma
.agents
docs/main docs
.env